* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ..............................*/
/*..........component..........*/
/*..............................*/


.title{
    font-size: 42px;
    margin: auto; 
    text-align: center;
    margin-bottom: 50px;
    margin-top:20px;
}
.tittle::after{
content:'';
display: block;
width: 150px;
height: 3px;
background-color: #f18b31;
margin: auto;
margin-top: 20px;
}
.row{
    display: flex;
}

/*..............................*/
/*..........Header..........*/
/*.............................. */
header {
    height: 600px;
    background: url(./img/hero.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

    /* z-index: index 0;
     */

}

/* .black-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.373);
    position:absolute;
    top:0;
    z-index: index 1;   
} */

.container {
    width: 100%;
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;

}



#logo {
    color: white;
    width: 100px;
    height: 100px;
}

.menu-option {
    color: white;
    font-size: 18px;
    margin-inline: 20px;
    text-decoration: none;
    text-transform: uppercase;

}

.button-first {
    padding-inline: 20px;
    padding-block: 10px;
    color: white;
    border-radius: 40px;
    border: 1.5px solid #f18b31;
    cursor: pointer;
    background-color: #f18b31;
}

.button-second {
    padding-inline: 20px;
    padding-block: 10px;
    color: #f18b31;
    border-radius: 40px;
    border: 1.5px solid #f18b31;
    cursor: pointer;
    background-color: transparent;
}

.text-header {
    font-size: calc(3*18px);
    margin-bottom: 20px;
    margin-top: 100px;
    color: white;
}

.content {
    margin-left: 250px;
}

/* ..............................*/
/*..........section-1..........*/
/*..............................*/
#section-1{
 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: white;
  }
.header2{
    font-size: 40px;
    border-bottom: 3px  solid orangered ;
    padding-top: 30px;
    padding-bottom: 25px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
 .p-section2{
    font-size: 20px;
    padding: top 25px;
    font: weight 0.2px;
    display: flex;
    justify-content: center;
  
 }
.text2 {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}

.icon {
    margin-top: 25px;
    width: 50px;
    color: orangered;
}
.grammar{
    font-size: 19px;
}
/* ..............................*/
/*..........section-2..........*/
/*..............................*/
#section-2{
    width: 100%;
    height: 572.5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
.image1{
    width: 379.7px;
  }
.black-background{
    width: 100%;
    height: 572.5px;
    background-color: rgba(0, 0, 0, 0.373);
    position:absolute;   
    top: 0;
}
/* ..............................*/
/*..........section-3..........*/
/*..............................*/

#section-3{
    width: 100%;
    height: 668px;
    background-color: rgb(240,240,240);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header3{
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 38px;
    border-bottom:3px solid orangered ;
    
}
.container3{
    margin-top: 50px;
    display: flex;
   margin-left: 120px;
    
}
.iphone{
    width: 190px;
    height: 390px;
    border-radius: 30px;
}
.star{
    width: 60px;
    color: orangered;
}
.part{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.content3{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around

}
.tittle{
    width: 375px;
    margin-left: 15px;

}
.logoleft{
    width: 150px;
}
.logoright{
    width: 150px;
}
/* ..............................*/
/*..........section-4..........*/
/*..............................*/

#section-4{
    width: 100%;
    height: 790px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header4{
    margin-top: 50px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom:3px solid orangered 
}
.image-section4{
    width: 200px;
    height: 120px;
}
.icon-section4{
    width: 25px;
    color: orangered;
}
.text-part1{
    display: flex;
    align-items: center;
}
.text-part2{
    display: flex;
    align-items: center;
}
.text-part3{
    display: flex;
    align-items: center;
}
.content4{
    margin-top: 40px;
    display: flex;
    border-bottom:3px solid orangered ;
    padding-bottom: 160px;
   
}
.text-sectin4{
    display: flex;
    flex-direction: column;
}
.a-section4{
    color: orangered;
    font-size: larger
}
.container-section4{
    margin:10px
}.footer-section4{
    width: 40px;
    border-radius: 50%;
    margin-left: 100px;
    margin-right: 100px;
    

}
.footer4{
    margin-top: 90px;
    display: flex;
    align-items: baseline;
    justify-content: end;
}



/* ..............................*/
/*..........section-5..........*/
/*..............................*/

#section-5{
    width: 100%;
    height: 668px;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.header5{
    padding-top: 40px;
        padding-bottom: 20px;
        font-size: 25px;
        border-bottom:3px solid orangered ;
}
.conatiner-section5{
    margin-top: 50px;
}
.box-section5{
    width: 220px;
    height: 270px;
    display: flex;
    flex-direction: column;
    
}
.header-box{
flex-basis: 38%;
background-color: rgb(252, 252, 252);
padding-left: 10px;
padding-top: 10px;
border-bottom: 2px solid rgb(245, 245, 245) ;
}
.body-box{
    flex-basis: 42%;
    background-color: rgb(255, 255, 255);
    padding-left: 10px;
padding-top: 10px;
border-bottom: 2px solid rgb(245, 245, 245) ;
}
.footer-box{
    flex-basis: 20%;
   background-color: rgb(255, 255, 255);
   display: flex;
   align-items: center;
   justify-content: center;
}
.midtext-section5{
    display: flex;
    align-items: center;
    color: orangered;
}
.h1-section5{
    font-size: xx-large;
    
}
.logo-section5{
    width: 23px;
    color: orangered;
}
.part-section5{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button-section5{
    padding-inline: 20px;
    padding-block: 10px;
    color: white;
    border-radius: 40px;
    border: 1.5px solid #f18b31;
    cursor: pointer;
    background-color: #f18b31;
}

/* ..............................*/
/*..........section-6..........*/
/*..............................*/
#section-6{
    width: 100%;
  height: 572.5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
}
.container6{
    width: 50%;
    height: 100%;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.header6{
    width: 100%;
    flex-basis: 30%;
    
    padding-top: 40px;
        padding-bottom: 20px;
        font-size: 25px;
        margin-bottom: 114,5px;
        display: flex;
        justify-content: center;
}
/* .header6::after {
    content: '';
    display: block;
    width: 70px;
    height: 2px;
    border-radius: 2px;
    background-color: #f18b31;
    margin: auto;
    margin-top: 20px;
} */
.text6{
    width: 100%;
flex-basis: 70%;

display: flex;
justify-content: space-between;

}
.left-text6{
    flex-basis: 25%;
    
    
}
.right-text6{
    flex-basis: 50%;
   
    display: flex;
    flex-direction: column;
    
}
.textleft{
    margin-bottom: 20px;
}
#fname{
    width: 100%;
    height: 25px;
    background-color: transparent;
}
.form-text6{
margin-bottom: 15px;
}
#Special6{
    width: 100%;
    height: 100px;
    background-color: transparent;
}
.button-section6{
    padding-inline: 20px;
    padding-block: 10px;
    color: white;
    border-radius: 40px;
    border: 1.5px solid #f18b31;
    cursor: pointer;
    background-color: #f18b31;
}
